# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# Dataset Files
data/

# Model File
models/*.pkl
models/*.joblib
models/*.h5
models/*.pt

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db